﻿<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>TypeScript HTML App</title>

	<link href="Content/bootstrap.css" rel="stylesheet" />
	<link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
	<link rel="stylesheet" href="app.css" type="text/css" />

	<script src="Scripts/jquery-3.1.1.js"></script>
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/bootstrap.js"></script>
	<!--<script src="Scripts/angular-ui/ui-bootstrap.js"></script>-->
	<script src="Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
	<script src="EctApp.js"></script>
	<script src="services/ErrorModalService.js"></script>
	<script src="directives/MultTableDirective.js"></script>
	<script src="controllers/MainController.js"></script>
	<!--<script src="app.js"></script>-->
</head>
<body ng-app="EctApp">
	<h1>TypeScript HTML App</h1>

	<div ng-controller="MainContronller as ctrl">
		<button class="btn  btn-xs btn-danger" ng-click="ctrl.ShowIt()">Click on me</button>


		<h3 ng-show="ctrl.showIt"> SHOW ME</h3>
		<!--<mult-table numero="10"></mult-table>-->
	</div>

	<div id="content"></div>
</body>
</html>
