﻿<div class="modal-header">
	<h3 class="modal-title">{{ctrl.title}}</h3>
</div>
<div class="modal-body">
	This is Popup example with close button.
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button"
			  ng-click="$dismiss()">
		Cancel
	</button>
</div>